body {
    font-family: 'Myriad Pro', sans-serif;
}

.m-nav {
    top: 1.2em;
}

#mobile-menu i {
    margin-right: .5em;
}

.round-portrait {
    color: #D1D2D3;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: solid 2px #D1D2D3;
    display: block;
    text-align: center;
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
}

.round-portrait.dashed {
    border: dashed 2px #D1D2D3;
    z-index: 0;
}

.round-portrait.dashed:hover, .colorpicker:hover .round-portrait.dashed {
    color: #25AAE1;
    border: solid 2px #25AAE1;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
}

.round-portrait .material-icons {
    position: relative;
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    top: 2px;
}

.ul-nav a:hover .round-portrait {
    border-color: #25AAE1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
}

.osios-nav {
    height: 93px;
    line-height: 98px;
    background: white;
    border-bottom: solid 2px #A77CB7;
    box-shadow: none;
}

.osios-nav .container {
    width: 100% !important;
}

nav .ul-nav a {
    height: 98px;
}

.ul-nav {
    margin-right: .3em;
}

.reflected {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ul-nav a i, .ul-nav a .sign-out-ico {
    font-size: 1.5rem;
    color: #A0A1A3;
}

.ul-nav a .nav-ico {
    font-size: 2.4em;
    position: relative;
    top: 7px;
}

.ul-nav a .nav-ico.top-3px {
    top: 3px;
    font-size: 2.1em;
}

.ul-nav a:hover i, .ul-nav .active-nav i {
    color: #25AAE1;
}

.ul-nav > li > a:hover {
    background: transparent;
}

.ul-nav > li > a > img {
    fill: #25AAE1;
    position: relative;
    top: 31px;
}

.ul-nav > li > a > .logout-ico {
    top: -1px;
}

nav .osios-logo {
    margin-left: .3em;
    font-size: 3.7em;
    color: black;
    font-weight: bolder;
}

.osios-logo > img {
    position: absolute;
    right: -53px;
    top: 16px;
}

/*Main block*/

.main-box {
    padding: 0 1em;
    width: 100% !important;
}

.head-box {
    font-size: 15px;
}

.head-box {
    width: 100%;
    padding: 3em 0;
    display: block;
    color: #A0A1A3;
}

.head-box-icon {
    width: 56px;
    margin: 0 auto;
}

.head-box span {
    display: block;
}

/*#56BF66*/

.green-c {
    overflow: visible;
    background: #F5F5F7;
    height: 3px;
    margin: 3em 0 0 0;
}

.green-c .determinate {
    background: #56BF66;
}

.green-c .determinate:after {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -7px;
    top: -5px;
    background: #36B247;
}

.selectors-block {
    color: #3D3D3E;
}

.row-block .col {
    /*padding: 0;*/
}

.dashed-input, .dashed-input:focus {
    max-width: 95%;
    font-size: 3rem !important;
    padding: .3em .3em !important;
    box-shadow: none !important;
    border: 2px dashed #CFCFD0 !important;
}

/*----------------------------------Squares-------------------------*/

.square-option {
    cursor: pointer;
    margin-right: 1em;
    margin-bottom: .2em;
    height: 101px;
    width: 101px !important;
    display: inline-block;
    position: relative;
}

.square-option .main-ico, .square-option .undertext, .square-option .checked-icon {
    transition: all 1s color;
    position: absolute;
}

.square-option.checked .main-ico, .square-option:hover .main-ico, .square-option.checked .undertext, .square-option:hover .undertext {
    color: #25AAE1;
    transition: color .5s ease;
}

.square-option .undertext {
    display: block;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    width: 100%;
    bottom: 1em;
    transition: transform .3s ease;
}

.square-option.checked .undertext, .square-option:hover .undertext {
    transform: scale(1.1);
    transition: transform .3s ease;
}

.square-option .main-ico {
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3em;
    transition: font-size .3s ease, transform .3s ease;
}

.square-option.checked .main-ico, .square-option:hover .main-ico {
    transform: scale(1.3);
    transition: font-size .3s ease, transform .3s ease;
}

.square-option .checked-icon {
    display: none;
    height: 25px;
    width: 25px;
    color: white;
    background: #25AAE1;
    border-radius: 50%;
    right: -11px;
    top: -11px;
}

.square-option.checked .checked-icon {
    display: block;
}

.checked-icon .check {
    font-size: 1.2rem;
    position: relative;
    top: 3px;
    left: 4px;
}

/*----------------------------------*/

.user-obj {
    margin-bottom: 10px;
}

.lead-human {
    line-height: 16px;
}

.human-name {
    color: #000000;
    font-size: 15px;
    font-weight: 400
}

.human-role {
    color: #808184;
    font-size: 11px;
    font-weight: 400;
}

.human-role, .human-name {
    display: block;
}

.face-block, .plus-block, .human-block {
    display: inline-block;
}

.face-block {
    position: relative;
    top: 4px;
}

.user-drop .face-block {
    top: 9px;
}

.plus-block {
    position: relative;
    bottom: 2px;
}

.human-block {
    position: relative;
    bottom: 7px;
    margin: 0 11px 0 3px;
}

.go-next-section {
    padding: 2em 0;
    text-align: center;
}

.button-next, .button-next:focus {
    background: #37B349;
    border: solid 1px #37B349;
    width: 3em;
    color: white;
    width: 53px;
    height: 39px;
    position: relative;
    font-weight: bold;
    z-index: 2;
}

.button-next.scope {
    width: 99px;
}

.button-next:before {
    content: '';
    display: block;
    background: #37B349;
    border-radius: 50%;
    position: absolute;
    height: 39px;
    width: 41px;
    left: -19px;
    top: -1px;
}

.button-next:after {
    content: '';
    display: block;
    background: #37B349;
    border-radius: 50%;
    position: absolute;
    height: 39px;
    width: 41px;
    right: -19px;
    top: -1px;
}

.button-next:before, .button-next:after {
    z-index: 8;
}

.button-next span {
    position: relative;
    z-index: 9;
}

.hr-bold {
    border: solid 1px #DADBDC;
}

.cancel, .cancel:focus {
    border: none;
    display: block;
    background: #D1D2D3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    margin: .7em auto 0 auto;
}

.cancel i {
    position: relative;
    top: 2px;
    right: 3px;
}

/*Project details page*/

.dashed-textarea {
    resize: vertical;
    outline: none;
    min-height: 110px;
    border: 2px dashed #CFCFD0;
}

.dashed-colorpicker {
    min-width: 150px;
    margin-bottom: 1em;
}

.colorpicker {
    position: relative;
    height: 136px !important;
    padding: 6px;
    width: 100% !important;
    background: white;
    outline: none;
    cursor: pointer;
}

.colorpicker.dash {
    border: 2px dashed #CFCFD0;
}

.colorpicker-container {
    position: relative;
}

.colorpicker-container span {
    position: absolute;
    color: white;
    text-align: center;
    display: block;
    width: 100%;
    top: 56px;
}

.hex-container {
    border: 2px dashed #CFCFD0;
    border-top: none;
    color: #CFCFD0;
    text-align: center;
}

.colorpicker .round-portrait.dashed {
    margin: 0 auto;
    top: 2.7em;
    position: relative;
    transition: transform .3s ease;
    transition: transform .3s ease, color .3s ease;
}

.colorpicker:hover .round-portrait.dashed {
    color: #25AAE1;
    transform: scale(1.3);
    transition: transform .3s ease, color .3s ease;
}

.colorpicker:hover {
    color: #25AAE1;
}

.colorpicker .file-picker {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.colorpicker.hover .round-portrait.dashed {
    display: none;
}

.colorpicker.hover:hover {
    background: lightgray;
}

.colorpicker.hover:hover .round-portrait.dashed {
    display: block;
}

.colorpicker.hover:hover .round-portrait.dashed:after {
    top: 38px;
    content: 'Delete file';
    left: -19px;
    position: absolute;
    white-space: nowrap;
}

.file-info {
    text-align: center;
    width: 100%;
}

.file-info i {
    font-size: 52px;
    display: block;
}

.colorpicker.hover:hover .grayish-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8)
}

.footer-btns .round-btn.solid, .footer-btns .cancel {
    display: inline-block;
}

.footer-btns .round-btn.solid {
    border: solid 2px #D1D2D3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    margin: .7em auto 0 auto;
    position: relative;
    top: -4px;
    margin-right: 4em;
    color: #D1D2D3;
}

.footer-btns .round-btn.solid:hover {
    border-color: #25AAE1;
    color: #25AAE1;
}

.footer-btns .round-btn.solid i {
    font-size: 1.5em;
    top: 2px;
    position: relative;
}

.inline-block {
    display: inline-block;
}

/*Last page templates*/

html, body {
    height: 100%;
    /*overflow: hidden;*/
}

.created-bg {
    background: url('images/end-bg.jpg');
    background-size: cover;
}

.end-h1 {
    font-size: 3.2rem;
    color: white;
}

.full-size {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.full-width {
    width: 100%;
    text-align: center;
    color: white;
    background: transparent;
}

.container-custom {
    width: 50%;
    margin: 0 auto;
}

.white {
    background: #b0d8ec !important;
    box-shadow: 0 0 8px -1px black;
}

.white .determinate {
    background: #d4f6fc;
    box-shadow: 0 0 8px 0 black;
}

/*----------------------------------------------------*/

.checked-user {
    position: relative;
}

.checked-user:after {
    top: 12px;
    content: '✓';
    display: block;
    white-space: nowrap;
    position: absolute;
    right: 11px;
    color: #25AAE1;
    font-size: 1.5em;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding-left: 2px;
    border: solid 1px;
    padding-top: 1px;
    border-color: #25AAE1;
}

.user-drop {
    padding: 0 4em 0 .5em;
}

.disabled.button-next, .disabled.button-next:before, .disabled.button-next:after {
    background: #D1D1D1;
    cursor: not-allowed;
    border-color: #D1D1D1;
}

.image-prew {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.filename {
    height: 22px;
    position: absolute;
    bottom: 9px;
    color: white;
    background: gray;
    padding: 0;
    width: 117px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.box {
    width: 101px;
    height: 101px;
    position: relative;
    background: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0 19px 7px 0;
    cursor: pointer;
    color: #2c3e50;
    -webkit-transition: background 0.4s 0.5s;
}

.box svg {
    position: absolute;
    top: 0;
    left: 0;
}

.box svg line {
    stroke-width: 4;
    stroke: #9e9e9e;
    opacity: 0.5;
    fill: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.square-option.checked svg line, .box:hover svg line {
    stroke: #25AAE1;
    opacity: 1;
}

.square-option.checked svg line, .box:hover svg line {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.box svg line.top, .box svg line.bottom {
    stroke-dasharray: 20 20;
}

.box svg line.left, .box svg line.right {
    stroke-dasharray: 20 20;
}

.box.checked svg line.top, .box:hover svg line.top, .box.checked svg line.bottom, .box:hover svg line.bottom {
    stroke-dasharray: 330 240;
}

.box.checked svg line.left, .box:hover svg line.left, .box.checked svg line.right, .box:hover svg line.right {
    stroke-dasharray: 490 400;
}

.square-option.checked svg line.top, .box:hover svg line.top {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
}

.square-option.checked svg line.bottom, .box:hover svg line.bottom {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
}

.square-option.checked svg line.left, .box:hover svg line.left {
    -webkit-transform: translateY(920px);
    transform: translateY(920px);
}

.square-option.checked svg line.right, .box:hover svg line.right {
    -webkit-transform: translateY(-920px);
    transform: translateY(-920px);
}

/*Merge styles*/
.material-tooltip {
    display: none !important;
}

i.fa {
    color: #2c3e50;
}

.post-single li, .page li {
    margin-left: 0;
    list-style: none;
}

#footer {
    display: none !important;
}

.container {
    width: auto !important;
}

body {
    font-size: 14px;
}

/* ------------------ */