html, body {
  height: 100%;
  overflow: hidden;
}
body {
  background: url('images/end-bg.jpg');
  background-size: cover;
}
.end-h1 {
  font-size: 3.2rem;
}
.full-size {
  height: 100%;
  width: 100%;
}
.full-width {
  width: 100%;
  text-align: center;
  color: white;
}
.container-custom {
  width: 50%;
  margin: 0 auto;
}
.white {
  background: #b0d8ec!important;
  box-shadow: 0 0 8px -1px black;
}
.white .determinate {
  background: #d4f6fc;
  box-shadow: 0 0 8px 0 black;
}
