<!--First page-->

<section class="main-box container" ng-controller="stage1Ctrl">
  <div class="head-box center-align">
    <div class="head-box-icon">
      <img src="/mobileprojects/wp-content/plugins/OSIOS-plugin/templates/add-project/css/images/folder-icon.png" alt="">
    </div>
    <span>This project scope will be visible to everyone. It can be edited any time.</span>
    <div class="progress green-c">
      <div class="determinate" style="width: {{progressBar}}%">
      </div>
    </div>
  </div>
  <div class="selectors-block">
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Select project name:*</span>
      </div>
      <div class="col s12 m6 l6  no-padding">
        <input ng-model="projectName" class="dashed-input" type="text" placeholder="Enter project name">
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Select Lead Client:*</span>
      </div>
      <div class="col s12 m6 l6 lead-human no-padding">
        <div class="user-obj col s12 m12 l12 no-padding">
          <div class="inline-block human" ng-repeat="client in leadClients track by $index">
            <div class="face-block">
              <img class="round-portrait" ng-src="{{client.photo}}" alt="">
            </div>
            <div class="human-block">
              <span class="human-name">{{client.name}}</span>
              <span class="human-role">{{client.role}}</span>
            </div>
          </div>
          <div class="plus-block">
            <a open-dropdown href="" class="dropdown-button round-portrait dashed" data-activates='clients'>
              <i class="material-icons">add</i>
            </a>

            <ul id='clients' class='dropdown-content'>
              <li ng-repeat="client in leadUsers" ng-click="addClient(client)"
                  ng-class="isChecked('leadClients',client)?'checked-user': ''" class="user-drop">
                <div class="face-block">
                  <img class="round-portrait img-responsive" ng-src="{{client.photo}}" alt="">
                </div>
                <div class="human-block">
                  <span class="human-name">{{client.name}}</span>
                  <span class="human-role">{{client.role}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Select Lead developer:*</span>
      </div>
      <div class="col s12 m6 l6 lead-human no-padding">
        <div class="user-obj col s12 m12 l12 no-padding">
          <div class="inline-block human" ng-repeat="client in leadDevs track by $index">
            <div class="face-block">
              <img class="round-portrait img-responsive" ng-src="{{client.photo}}" alt="">
            </div>
            <div class="human-block">
              <span class="human-name">{{client.name}}</span>
              <span class="human-role">{{client.role}}</span>
            </div>
          </div>
          <div class="plus-block">
            <a open-dropdown href="" class="dropdown-button round-portrait dashed" data-activates='developers'>
              <i class="material-icons">add</i>
            </a>
            <ul id='developers' class='dropdown-content'>
              <li ng-repeat="client in leadUsers" ng-click="addDev(client)"
                  ng-class="isChecked('leadDevs',client)?'checked-user': ''" class="user-drop">
                <div class="face-block">
                  <img class="round-portrait" ng-src="{{client.photo}}" alt="">
                </div>
                <div class="human-block">
                  <span class="human-name">{{client.name}}</span>
                  <span class="human-role">{{client.role}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Select project brief option:*</span>
      </div>
      <div class="col s12 m6 l6">
        <div class="row">
          <div class="square-option box" ng-repeat="card in cardsList | filter:{section: 'brief option'}"
               ng-click="addBOptions(card)" ng-class="isChecked('bOptions',card) ? 'checked' : ''">
            <svg width="101" height="101">
              <line class="top" x1="0" y1="0" x2="900" y2="0" stroke-width="30"/>
              <line class="left" x1="0" y1="101" x2="0" y2="-920" stroke-width="30"/>
              <line class="bottom" x1="101" y1="101" x2="-600" y2="101" stroke-width="30"></line>
              <line class="right" x1="101" y1="0" x2="101" y2="1380" stroke-width="30"/>
            </svg>
            <i class="main-ico check" ng-class="card.class">{{card.fontAttr}}</i>
            <span class="undertext">{{card.name}}</span>
            <span class="checked-icon"><i class="material-icons check">done</i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Select the project platform:*</span>
      </div>
      <div class="col s12 m6 l6">
        <div class="row">
          <div class="square-option box" ng-repeat="cardP in cardsList | filter:{section: 'project platform'}"
               ng-click="addProjPlatforms(cardP)" ng-class="isChecked('projPlatforms',cardP) ? 'checked' : ''">
            <svg width="101" height="101">
              <line class="top" x1="0" y1="0" x2="900" y2="0" stroke-width="30"/>
              <line class="left" x1="0" y1="101" x2="0" y2="-920" stroke-width="30"/>
              <line class="bottom" x1="101" y1="101" x2="-600" y2="101" stroke-width="30"></line>
              <line class="right" x1="101" y1="0" x2="101" y2="1380" stroke-width="30"/>
            </svg>
            <i class="main-ico check" ng-class="cardP.class">{{cardP.fontAttr}}</i>
            <span class="undertext">{{cardP.name}}</span>
            <span class="checked-icon"><i class="material-icons check">done</i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Select device:*</span>
      </div>
      <div class="col s12 m6 l6">
        <div class="row">
          <div ng-if="projPlatforms.length==0">You have to choose project platform.</div>
          <div ng-if="projPlatforms.length>0">
            <div class="square-option box" ng-repeat="cardD in cardsList | filter: filterDevices"
                 ng-click="addSelectedDevices(cardD)" ng-class="isChecked('selectedDevices',cardD) ? 'checked' : ''">
              <svg width="101" height="101">
                <line class="top" x1="0" y1="0" x2="900" y2="0" stroke-width="30"/>
                <line class="left" x1="0" y1="101" x2="0" y2="-920" stroke-width="30"/>
                <line class="bottom" x1="101" y1="101" x2="-600" y2="101" stroke-width="30"></line>
                <line class="right" x1="101" y1="0" x2="101" y2="1380" stroke-width="30"/>
              </svg>
              <i class="main-ico check" ng-class="cardD.class">{{cardD.fontAttr}}</i>
              <span class="undertext">{{cardD.name}}</span>
              <span class="checked-icon"><i class="material-icons check">done</i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-bold">
  <footer class="go-next-section">
    <button ng-click="nextStage()" class="button-next" ng-class="{disabled: progressBar<50}"><span>Next</span>
    </button>
    <button ng-click="clearData()" class="cancel"><i class="material-icons">close</i></button>
  </footer>
</section>
