  <nav class="osios-nav">
    <div class="container">
      <a href="#/" class="brand-logo osios-logo">OSIOS <img src="css/images/clock-logo.png" alt=""></a>
      <a href="#" data-activates="mobile-menu" class="button-collapse black-text m-nav"><i class="material-icons">menu</i></a>
      <ul class="right ul-nav hide-on-med-and-down">
        <li class="active-nav"><a href=""><i class="fa fa-folder-o reflected nav-ico"></i></a></li>
        <li><a href=""><i class="fa fa-calendar nav-ico top-3px"></i></a></li>
        <li><a href=""><i class="fa fa-rocket nav-ico top-3px"></i></a></li>
        <li><a href=""><img class="round-portrait" src="css/images/face.jpg" alt=""></a></li>
        <li><a href=""><i class="fa fa-sign-out"></i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-menu">
        <li><a href=""><i class="fa fa-folder-o reflected nav-ico"></i>Edit project</a></li>
        <li><a href=""><i class="fa fa-rocket nav-ico top-3px"></i>Menu Item2</a></li>
        <li><a href=""><i class="fa fa-user"></i>My Account</a></li>
        <li><a href=""><i class="fa fa-sign-out"></i>Sign Out</a></li>
      </ul>
    </div>
  </nav>