<section class="main-box container" ng-controller="stage2Ctrl">
  <div class="head-box center-align">
    <div class="head-box-icon">
      <img src="/mobileprojects/wp-content/plugins/OSIOS-plugin/templates/add-project/css/images/folder-icon.png" alt="">
    </div>
    <span>This project scope will be visible to everyone. It can be edited any time.</span>
    <div class="progress green-c">
      <div class="determinate" style="width: {{progressBar}}%">
      </div>
    </div>
  </div>
  <div class="selectors-block">
    <h2 class="center-align">{{projectName}}</h2>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Project description:*</span>
      </div>
      <div class="col s12 m6 l6">
        <textarea ng-model="projDesc" class="dashed-textarea" type="text" placeholder="Enter details about project requirements"></textarea>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>The intended user/s:*</span>
      </div>
      <div class="col s12 m6 l6">
        <textarea ng-model="intendedUsers" class="dashed-textarea" type="text" placeholder="Enter details about project's intended end users"></textarea>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Design direction:*</span>
      </div>
      <div class="col s12 m6 l6">
        <textarea ng-model="desDirection" class="dashed-textarea" type="text" placeholder="Enter information to guide the project's design needs"></textarea>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Desired colors:*</span>
      </div>
      <div class="col s12 m6 l6">
        <div class="row">
          <div class="col s3 m3 l3 dashed-colorpicker" ng-repeat="color in colors">
            <div class="colorpicker-container">
              <input ng-model="color.value" id="colorChoice" class="colorpicker dash" type="color" ng-value="color.value" ng-change="color.value">
              <span class="visible">Select colour</span>
            </div>
            <div class="hex-container">
              <span id="hexShow">{{color.value}}</span>
            </div>
            <div class="hex-container" role="button" style="cursor: pointer" ng-click="deleteColor(color)">
              <span id="hexShow2">Delete</span>
            </div>
          </div>
          <div class="col s3 m3 l3 dashed-colorpicker" ng-click="addColor()">
            <div class="colorpicker box">
              <svg width="136" height="136">
                <line class="top" x1="0" y1="0" x2="900" y2="0" stroke-width="30" />
                <line class="left" x1="0" y1="136" x2="0" y2="-920" stroke-width="30" />
                <line class="bottom" x1="136" y1="136" x2="-600" y2="136" stroke-width="30"></line>
                <line class="right" x1="136" y1="0" x2="136" y2="1380" stroke-width="30" />
              </svg>
              <span class="round-portrait dashed">
                    <i class="material-icons">add</i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Desired fonts:*</span>
      </div>
      <div class="col s12 m6 l6">
        <textarea ng-model="desiredFonts" class="dashed-textarea" type="text" placeholder="Enter any font requirements"></textarea>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Technical/feature requirements:*</span>
      </div>
      <div class="col s12 m6 l6">
        <textarea ng-model="techReqs" class="dashed-textarea" type="text" placeholder="Enter information to guide the project's design needs"></textarea>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Additional notes:*</span>
      </div>
      <div class="col s12 m6 l6">
        <textarea ng-model="notes" class="dashed-textarea" type="text" placeholder="Enter information about additional needs"></textarea>
      </div>
    </div>
    <div class="row-block row">
      <div class="col s12 m6 l6">
        <span>Add file/s(JPG/PNG/PDF/PSD):*</span>
      </div>
      <div class="col s12 m6 l6" data-droplet ng-model="interface">
        <div class="row">
          <div class="col s3 m3 l3 dashed-colorpicker" ng-repeat="file in interface.getFiles(interface.FILE_TYPES.VALID)">
            <div class="colorpicker dash hover" ng-click="file.deleteFile()">
              <div class="file-info">
                <droplet-preview class="image-prew" ng-model="file" ng-show="model.isImage()" accept="image/*"></droplet-preview>
                <section class="filename" ng-show="!model.isImage()">{{file.file.name}}</section>
              </div>
              <div class="grayish-cover">
                <span href="" class="round-portrait dashed">
                  <i class="material-icons">close</i>
                </span>
              </div>
            </div>
          </div>
          <div class="col s3 m3 l3 dashed-colorpicker"
          ng-show="interface.getFiles(interface.FILE_TYPES.VALID).length < 5">
            <div class="colorpicker box">
              <svg width="136" height="136">
                <line class="top" x1="0" y1="0" x2="900" y2="0" stroke-width="30" />
                <line class="left" x1="0" y1="136" x2="0" y2="-920" stroke-width="30" />
                <line class="bottom" x1="136" y1="136" x2="-600" y2="136" stroke-width="30"></line>
                <line class="right" x1="136" y1="0" x2="136" y2="1380" stroke-width="30" />
              </svg>
              <droplet-upload-multiple ng-model="interface" class="file-picker"></droplet-upload-multiple>
              <span href="" class="round-portrait dashed">
                <i class="material-icons">add</i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-bold">
  <footer class="go-next-section">
    <button class="button-next scope" ng-click="finalStage()" ng-class="{disabled: progressBar!==100}"><span>Save scope</button>
        <div class="footer-btns">
          <a ng-click='prevStage()' class="round-btn solid"><i class="fa fa-angle-left"></i></a>
          <button ng-click="clearData()" class="cancel"><i class="material-icons">close</i></button>
        </div>
      </footer>
  </section>
