  <div class="valign-wrapper full-size created-bg"
  ng-controller="stage3Ctrl">
    <div class="valign full-width container">
      <h1 class="end-h1">{{message}}</h1>
      <div class="container-custom">
        <div class="progress white">
          <div class="determinate" style="width: {{progressbar}}%">
          </div>
        </div>
      </div>
    </div>
  </div>
